<div class="container">
  <app-new-item-form
    [isShowNewItemForm]="isShowNewItemForm"
    [newItemForm]="newItemForm"
    (handleSubmit)="onSubmit()"
    (handleCancelForm)="cancelForm()"
    (handleShowNewItemForm)="showNewItemForm()"
  ></app-new-item-form>
  <div class="text-center">
    <strong>Values to be sent: </strong
    ><span>{{ newItemForm.value | json }}</span>
  </div>
  <app-item-list
    [editItemUrl]="editItemUrl"
    [list$]="list$"
    (handleRemoveItem)="removeItem($event)"
  ></app-item-list>
</div>
